$border: yellow;
$border: hidden;

body {
  margin: 0;
  padding: 0;
  background-color: #111010;
  font-family: 'Poppins', sans-serif;

  .main_div {
    border: 2px solid $border;
    width: 50%;
    min-width: 700px;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 5vh;
    height: 800px;
  }

  .title{
    border: 2px solid $border;
    position: relative;
    top:5px;
    left:0;
    width: 100%;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
  }

  .title p{
    display: inline;
    color: #55FF33;
  }

  .project_box{
    border: 2px solid grey;
    position: relative;
    top:20px;
    left:50px;
    height: 150px;
    width: 620px;
    background-color: #262626;
    border-radius: 10px;
  }

  .project_box:hover{
    border: 2px solid #55FF33;
    cursor: pointer;

    .project_name{
      text-decoration: underline;
      text-decoration-color: #55FF33;
      text-underline-offset: 5px;
    }
  }

  .project_box .project_name{
    border: 2px solid $border;
    position: relative;
    top: -10px;
    left: 18px;
    height: 30px;
    width: 350px;
    color: #cccccc;
    font-size: 22px;
  }

  .project_box .project_desc{
    border: 2px solid $border;
    position: relative;
    top: -30px;
    left: 18px;
    height: 90px;
    width: 350px;
    color: #999999;
    font-size: 13px;
    text-align: justify;
  }

  .image_div{
    position: relative;
    top: -163px;
    left: 387px;
    width: 220px;
    height: 125px;
    z-index: 5;
    background-size: cover;
    background-position: 50%, 50%;
    border-radius: 15px;
    border: 2px solid #cccccc;
  }

  .coding_box{
    border: 2px solid $border;
    position: relative;
    width: 350px;
    height: 45px;
    z-index: 100;
    top: -220px;
    left: 18.5px;
  }

  .coding_box ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    top: 5px;
    left: -55px;
    width: 380px;
    height: 40px;
    border: 2px solid $border;
  }

  .single_box{
    width: 70px;
    height: 18px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #262626;
    font-size: 11px;
    margin: auto;
    border: 2px solid grey;
  }

  #php_box{
    //border: 2px solid #6181B6;
    color: #6181B6;
  }

  #python_box{
    //border: 2px solid #FFCD3E;
    color: #FFCD3E;
  }

  #java_box{
    //border: 2px solid #E11F21;
    color: #E11F21;
  }

  #c_box{
    //border: 2px solid #659AD2;
    color: #659AD2;
  }

  #mysql_box{
    //border: 2px solid #F29209;
    color: #F29209;
  }

  #matlab_box{
    //border: 2px solid #791C0E;
    color: #791C0E;
  }

  #javascript_box{
    //border: 2px solid #F0DC4E;
    color: #F0DC4E;
  }

  #erlang_box{
    //border: 2px solid #A90533;
    color: #A90533;
  }

  #css_box{
    //border: 2px solid #A90533;
    color: #379AD6;
  }

  #html_box{
    color: #F16524;
  }

  #omnet_box{
    color: #FFFFFF;
  }

  #fastpizza{
    background-image: url("../img/pizza.jpg");
  }

  #cybuy{
    background-image: url("../img/cybuy.jpg");
  }

  #herethepaw{
    background-image: url("../img/herethepaw.jpg");
  }

  #bomberman{
    background-image: url("../img/bomberman.jpg");
  }

  #trainaround{
    background-image: url("../img/trainaround.jpg");
  }

  #aerocom_sim{
    background-image: url("../img/aerocom_sim.jpg");
  }

  #tomawk_website{
    background-image: url("../img/tomawk_website.jpg");
  }

  #vinted{
    background-image: url("../img/vinted_gen.png");
  }

  #smartgreenhouse{
    background-image: url("../img/smartgreenhouse.png");
  }

  #lottoclientserver{
    background-image: url("../img/lottoclientserver.jpg");
  }

  .menu {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 5vh;
    list-style: none;
    position: relative;
    top:-2px;
    left:-24px;
    width: 350px;
    border: 2px solid $border;
  }

  .menu .small_li {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 2px solid $border;

    a {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #a6a6a6;
    }

    &:hover a {
      color: #E0E0E0;
    }
  }

  .menu li {
    width: 125px;
    height: 30px;
    text-align: center;
    border: 2px solid $border;

    a {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #a6a6a6;
      text-decoration: none;
    }

    #active_link{
      color: #E0E0E0;
      text-decoration: underline;
      text-decoration-color: #55FF33;
      text-underline-offset: 5px;
    }

    #active_link:hover{
      color: #d9d9d9;
      text-decoration-color: #26e600;
    }

    &:hover a {
      color: #E0E0E0;
      text-decoration: underline;
    }

  }


}
